
@font-face {
  font-family: "liber";
  src: url("../../liber-reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "liber";
  src: url("../../liber-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;